# BEGIN WP Hide & Security Enhancer
<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase / 
#WriteCheckString:1541543105_21797
RewriteRule .* - [E=HTTP_MOD_REWRITE:On]
</IfModule> 

# END WP Hide & Security Enhancer
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>


php_value upload_max_filesize 2048M
php_value post_max_size 2048M
php_value memory_limit 2048M
php_value max_execution_time 300
php_value max_input_time 300


# END WordPress